PORT=3000

# Se usarán a partir de la semana 5, cuando el módulo de persistencia
# implemente el puerto de repositorio con PostgreSQL.
# DATABASE_URL=postgres://usuario:password@localhost:5432/gimnasio_utb
